{
  "env": {
    "es6": true
  },
  "ignorePatterns": [
    "*.min.js"
  ],
  "extends": "eslint:recommended",
  "globals": {
    "wp": true,
    "document": true,
    "window": true,
    "jQuery": true
  }
}
