#sortable {
    list-style-type: none;
    display: inline;
}

#sortable li {
    display: inline-block;
    position: relative;
    max-width: 200px;
    border: 1px solid #ddd;
    padding: 5px;
    line-height: 0;
    border-radius: 5px;
    margin: 0 2px 10px 0;
    cursor: move;
    float: left;
}

#sortable li:last-child {
    margin-right: 5px;
}

#sortable li img {
    max-width: 100%;
}

.wp-slideshow-upload-image {
    display: inline-block;
    width: 200px;
    height: 150px;
    border: none;
    padding: 5px;
    border-radius: 5px;
    background: #4CAF50;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
}

.wp-slideshow-upload-image-action {
    display: inline-flex;
    align-items: center;
    height: 100%;
}

#wp-slideshow-upload-image-description {
    margin-bottom: 15px;
}

.wp-slideshow-remove-image {
    position: absolute;
    top: 5px;
    right: 5px;
    color: #fff;
    background: #cc3737;
    border-radius: 3px;
    cursor: pointer;
}
