#wp-slideshow-slide-wrap.wp-slideshow-slide-wrap {
    margin: 0 auto;
    width: 60%;
    max-width: 60%;
}

#wp-slideshow-slide-wrap .wp-slideshow-slide-mask {
    position: relative;
    overflow: hidden;
    height: 300px;
}

#wp-slideshow-slide-wrap .wp-slideshow-slide-group {
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 0;
}

#wp-slideshow-slide-wrap .wp-slideshow-slide {
    height: 300px;
    text-align: center;
    list-style: none;
    line-height: inherit;
}

#wp-slideshow-slide-wrap .wp-slideshow-slide-nav {
    text-align: center;
}

#wp-slideshow-slide-wrap .wp-slideshow-slide-nav ul {
    margin: 0;
    padding: 0;
}

#wp-slideshow-slide-wrap .wp-slideshow-slide-nav li {
    display: inline-block;
    width: 15px;
    height: 15px;
    background: rgb(175, 56, 56);
    cursor: pointer;
    margin: 0 5px;
}

#wp-slideshow-slide-wrap .wp-slideshow-slide-nav li.current {
    background: rgb(144, 39, 39);
}

@media (max-width: 782px) {
    #wp-slideshow-slide-wrap.wp-slideshow-slide-wrap {
        width: 80%;
        max-width: 80%;
    }

    #wp-slideshow-slide-wrap .wp-slideshow-slide-mask,
    #wp-slideshow-slide-wrap .wp-slideshow-slide {
        height: 200px;
    }
}

@media (min-width: 1300px) {
    #wp-slideshow-slide-wrap .wp-slideshow-slide-mask,
    #wp-slideshow-slide-wrap .wp-slideshow-slide {
        height: 450px;
    }
}
